/* Reset */

* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* Fontes */

@font-face {
    font-family: 'Aclonica';
    src: url(../Fontes/Aclonica-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABeeZee';
    src: url(../Fontes/ABeeZee-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url(../Fontes/archivo-narrow-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Beatmaps */

.beatmaps:hover .tipoMaps {
    transform: translateY(-30px);
}

.beatmaps {

    position: absolute;
    width: 294px;
    height: 71px;
    left: 473px;
    top: 302px;

    font-family: 'Archivo', times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 75px;
    text-transform: uppercase;

color: rgba(0, 0, 0, 0.77);
}

/* Bem-vindos */

.T1 {
    position: absolute;
    width: 831px;
    height: 262px;
    left: 314px;
    top: 565px;

    font-family: 'ABeeZee', times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

/* osu!maps */

.T2 {
    position: absolute;
    width: 773px;
    height: 199px;
    left: 334px;
    top: 918px;

    font-family: 'Aclonica', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

/* Logo */

.logo {
    position: absolute;
    width: 342px;
    height: 340px;
    left: 102px;
    top: 203px;
    box-shadow: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    z-index: 2;
}

/* Fundo de Cima */

.fundo_de_cima {
    position: absolute;
    width: 1440px;
    height: 373px;
    left: 0px;
    top: 0px;
}

/* Fundo do meio */

.fundo_do_meio {
    z-index: 0;
}

.fundo_rosa {
    position: absolute;
    width: 1440px;
    height: 807px;
    left: 0px;
    top: 373px;

    background: rgba(255, 194, 225, 0.15);
    z-index: 1;
}

.fundo_do_meio .padoru {
    position: absolute;
    width: 486px;
    height: 282px;
    left: 0px;
    top: 373px;
}

.fundo_do_meio .sound_chimera {
    position: absolute;
    width: 487px;
    height: 282px;
    left: 486px;
    top: 373px;
}

.fundo_do_meio .wonderfull {
    position: absolute;
    width: 467px;
    height: 282px;
    left: 973px;
    top: 373px;
}

.fundo_do_meio .fool {
    position: absolute;
    width: 486px;
    height: 263px;
    left: 0px;
    top: 655px;
}

.fundo_do_meio .hikaru {
    position: absolute;
    width: 487px;
    height: 263px;
    left: 486px;
    top: 655px;
}

.fundo_do_meio .goodbye {
    position: absolute;
    width: 467px;
    height: 263px;
    left: 973px;
    top: 655px;
}

.fundo_do_meio .lemon {
    position: absolute;
    width: 486px;
    height: 262px;
    left: 0px;
    top: 918px;
}

.fundo_do_meio .sidetracked {
    position: absolute;
    width: 487px;
    height: 262px;
    left: 486px;
    top: 918px;
}

.fundo_do_meio .dadada {
    position: absolute;
    width: 467px;
    height: 262px;
    left: 973px;
    top: 918px;
}

/* Fundo de Baixo */

.fundo_de_baixo {
    position: absolute;
    width: 1440px;
    height: 373px;
    left: 0px;
    top: 1180px;
}